<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Administrador de Automoviles</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

</head>

<body>
    <h1>Administrador de Automoviles</h1>
    <form class="form-inline" method="POST" id="formRegister">
        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Modelo" name="modelo">
        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Marca" name="marca">
        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Placa" name="placa">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Modelo</th>
                <th scope="col">Marca</th>
                <th scope="col">Placa</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody id="filas">
            <td>1</td>
            <td>Rio 2018</td>
            <td>Kia</td>
            <td>420-111</td>
            <td><button type="button" class="btn btn-danger"><i class="fas fa-pencil-alt"></i></button>
                <button type="button" class="btn btn-warning"><i class="fas fa-trash-alt"></i></button></td>
        </tbody>
    </table>
    <div id="exampleModal">
        <form action="" method="post" id="formUpdate">

        </form>
    </div>
    <script src="javascripts/main.js"></script>
</body>

</html>