<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express</title>
</head>
<body>
    <h1>Administrador de Automoviles</h1>
    <form action="" method="POST" name="formRegister">
        <label for="modelo">Modelo: </label>
        <input type="text" name="modelo">
        <label for="marca">Marca: </label>
        <input type="text" name="marca">
        <label for="placa"> Placa: </label>
        <input type="text" name="placa">
    </form>
</body>
</html>